.home-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c5c5c5;
}

.home-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

.home-card h1 {
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-buttons a {
  text-decoration: none;
  background: black;
  color: white;
  padding: 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.home-buttons a:hover {
  opacity: 0.8;
}