.register-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d5d5d5;
}

.register-card {
  width: 350px;
  padding: 30px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-card h1 {
  text-align: center;
}

.register-card input,
.register-card select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.register-card button {
  padding: 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}